.modal-dialog.modal-danger .modal-header {
    background-color: #ff3547;
}

.modal-dialog.modal-danger .modal-header .modal-title
{
  margin: 0;
  font-size: 1.15rem;
  color: #fff !important;
}

.close{
  color: #fff !important;
}

.circulo {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}

.cuadrado {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border: 1px solid #555;
